img {
  max-width: 100%;
  border: 0;
  width: 50%;
  /* height: 20%; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: -13%;
  margin-bottom: -13%;
}
